.header {
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.login-container input {
  padding: 10px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.login-container button {
  padding: 10px 20px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin: 15px;
}

.login-container button:hover {
  background: #1aaa9c;
}

.home-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-item{
  height: 300px;
  width: 275px;
  margin: 15px;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}

.class-page{
  align-items: center;
  justify-content: center;
}

.class-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 50vh;
  margin: 10px;
  border-radius: 20px;
  border: solid #1aaa9c 2px ;
  font-family: Arial, sans-serif;
}

.class-box p{
  cursor: pointer;
}

.class-box p:hover{
  font-size: larger;
}

.class-box button{
  height: 30px;
  width: 55px;
  border-radius: 25px;
  background-color: red;
  color: #1abc9c;
}

.class-box button:hover{
   height: 33px;
  width: 58px;
}

.class-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.qoutes-section, .students-section {
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.quote-card {
  background-color: white;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.form-section {
  background-color: #eef3ff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 275px;
  width: 400px;
}

.form-section input {
  display: block;
  width: 100%;
  margin: 6px 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-section button {
  background-color: #2d6cdf;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #1d4ed8;
}